@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-color: #7348a1;
}

.gradient-element {
  color: black;
  /* background-image: linear-gradient(45deg, #7348a1, #4A3360, #6B414B); */
  background-size: 150%;
  animation: bg-animation 10s infinite alternate;
}

.whole-gradient {
  background: hsla(271, 31%, 29%, 1);

  background: linear-gradient(90deg, hsla(271, 31%, 29%, 1) 0%, hsla(207, 45%, 53%, 1) 12%, hsla(0, 0%, 100%, 1) 69%);
  
  background: -moz-linear-gradient(90deg, hsla(271, 31%, 29%, 1) 0%, hsla(207, 45%, 53%, 1) 12%, hsla(0, 0%, 100%, 1) 69%);
  
  background: -webkit-linear-gradient(90deg, hsla(271, 31%, 29%, 1) 0%, hsla(207, 45%, 53%, 1) 12%, hsla(0, 0%, 100%, 1) 69%);
  
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4A3360", endColorstr="#528DBD", GradientType=1 );
}

@keyframes bg-animation {
  0% {
    background-position: left;
    background-image: linear-gradient(25deg, #7348a1, #4A3360, #6B414B);
    /* transform: rotate(0deg); */
  }

  100% {
    background-position: right;
    background-image: linear-gradient(385deg, #7348a1, #4A3360, #6B414B);
    /* transform: rotate(360deg); */
  }
}